<div class="ui medium left floated image">
  <div class="ui basic form segment">
    <form action="/authenticate" method="POST">
      <div class="field">
        <label> Username: </label> <input size="35" type="text"
          name="email" placeholder="email address">
      </div>
      <div class="field">
        <label> Password: </label> <input size="35" type="password"
          name="password" placeholder="******">
      </div>
      <button class="ui basic large blue labeled submit button">
        <i class="sign in icon"></i> Login
      </button>
    </form>
  </div>
</div>