	<div class="ui form">
		<form action="/register" method="POST">
		<div class="ui medium left floated image">
			<div class="field">
				<label>First Name</label> <input placeholder="First Name" type="text"
					name="firstName">
			</div>
			<div class="field">
				<label>Last Name</label> <input placeholder="Last Name" type="text"
					name="lastName">
			</div>
		</div>
		<div class="ui medium left floated image">
			<div class="field">
				<label>Nationality</label> <input placeholder="Nationality"
					type="text" name="nationality">
			</div>
			<div class="field">
				<label>Age</label> <input placeholder="Age" type="text" name="age">
			</div>
		</div>
		<div class="ui medium left floated image">	
			<div class="field">
				<label>Email</label> <input placeholder="Email" type="text"
					name="email">
			</div>
			<div class="field">
				<label>Password</label> <input type="password" name="password">
			</div>
		</div>
			<button class="ui large basic blue submit labeled button"><i class="sign in icon"></i> Register</button>
		</form>
	</div>